* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}

h1 {
  text-align: center;
}

.badge {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;

  &:hover, &.active {
    color: black;
    background-color: red;
  }
}

.badge-type {
  background-color: orange;
  border-radius: 20px;
}

.badge-technology {
  background-color: green;
  border-radius: 20px;
}